.callTypeDropdown {
  position: relative;
  display: inline-block;
}

.callType {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 130px;
  height: fit-content;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 0px 26px 0px var(--box-shadow-color);
  overflow: hidden;
  color: var(--dark-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  background-color: var(--secondary-background-color);
}

.dropdownItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 35px;
  padding: 0 12px;
  font-size: 14px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: var(--menu-hover-color);
}

.selectedItem {
  color: var(--selected-text-color);
}
